.ContenedorGeneral {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1%;
  height: 95vh;
  gap: 2%;
}

.ContenedorCanva {
  width: 80%;
  height: 85vh;
}

.ContenedorColorPicker {
  width: 20%;
  height: 85vh;
}
